@model WebApplication1.Models.Eye

@{
    ViewBag.Title = "Delete";
}

<h2>刪除</h2>

<h3>小心，請確認是否要刪除?</h3>
<div>
    <h4>客戶資訊</h4>
    <hr />
    <dl class="dl-horizontal">
        @*姓名*@
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
        @*鏡框*@
        <dt>
            @Html.DisplayNameFor(model => model.FrameName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FrameName)
        </dd>
        @*價格*@
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        @*時間*@
        <dt>
            @Html.DisplayNameFor(model => model.MyTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MyTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RightEyeMyopia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RightEyeMyopia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RightEyeAstigmaticAngel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RightEyeAstigmaticAngel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RightEyeAstigmatic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RightEyeAstigmatic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeftEyeMyopia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeftEyeMyopia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeftEyeAstigmaticAngel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeftEyeAstigmaticAngel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeftEyeAstigmatic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeftEyeAstigmatic)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="刪除" class="btn btn-default" /> |
            @Html.ActionLink("回到選單", "Index")
        </div>
    }
</div>
